@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body { 
    font-family:'Anton', sans-serif;
    background: url(https://i.imgur.com/YF5yJIx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px #d4c8c8;
}
a:hover{
    text-shadow: 3px 3px #d4c8c8;
}

.fotineo {
    width: 70%;
    margin: 0px auto;
}
.fotineo img {
   width: 25%;
   position: fixed;
    top: 50%;
}
#cellFoto {
    width: 13%;
    position:fixed;
    right: 25%;
}

.lista select{
    width: 10%;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.fight {
    width: 20%;
    text-align: center;
    margin: 0 auto;
    justify-content: space-around;
}

#fight {
    display: none;
}

#fight:hover {
    transform: scale(1.1);
}
#fight:active{
    transform: scale(1.0);
}

#resultado{
    display: none;
    font-size: 50px;
}

/* HEADER */

header {

    font-size: 2em;
}

#primeiroLutador {
   padding: 0 70px;
}

.caixaGrandeGoku {
    width: 30%; /* Full width */
    background-color: red; /* Grey background */
    display: inline-block;
    
    
}
.caixaPequenaGoku {
        text-align: right; /* Right-align text */
        padding-top: 15px; /* Add top padding */
        padding-bottom: 20px; /* Add bottom padding */
        color: rgb(255, 255, 255); /* White text color */
        width: 100%; 
        background-color:  rgb(246, 250, 14);
              
}

.textoCell {
    position: absolute;
    right: 0;
    top: 0%;
    padding: 0 70px;
}
      
.container2 {
    width: 30%; /* Full width */
    background-color: red; /* Grey background */
    float: right;
    
}
.skills2 {
        text-align: right; /* Right-align text */
        padding-top: 15px; /* Add top padding */
        padding-bottom: 20px; /* Add bottom padding */
        color: rgb(255, 255, 255); /* White text color */
        width: 100%; 
        background-color:  rgb(246, 250, 14);
}